# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.res

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Code Blocks Stuff
/project/bin/
/project/bin*
/project/obj/
/project/obj/*
*.layout
*.depend

# SDL stuff
*.dll
sdl2-config

# Zip files
*.zip
*.tmp

# Config File
*.ini
