/**********************************************************************************************************************************************/
id ICON "Icon_App.ico"
/**********************************************************************************************************************************************/
#include <windows.h>
//#include <string>
#include "../src/version.h"
/**********************************************************************************************************************************************/
//General stuff that should need to be changed
#define VER_COMPANYNAME_STR "Public Domain"
#define VER_FILEDESCRIPTION_STR "A simple program that stimulates a cannonballs moving around and colliding and bouncing off of each other."
#define VER_FILENAME_STR "SDL Cannon Simulation"
#define VER_ORIGINALFILENAME_STR "Cannon.exe"
#define VER_LEGALCOPYRIGHT_STR "http://unlicense.org"
#define VER_COMMENTS_STR "Source Code found at: https://github.com/GamerMan7799/Cannon-Simulation"
/**********************************************************************************************************************************************/
//If Private is define above, indicting that it was a build not meant to be released define these variables
#ifndef DEFINED_BUILD_MODE_PRIVATE
	#define VER_DEBUG 0
	#define VER_PRIVATEBUILD 0
	#define VER_PRERELEASE 0
#else
	#define VER_DEBUG VS_FF_DEBUG
	#define VER_PRIVATEBUILD VS_FF_PRIVATEBUILD
	#define VER_PRERELEASE VS_FF_PRERELEASE
#endif
/**********************************************************************************************************************************************/
/*char* strProductVersion = DEFINED_VER_FULLVERSION_STRING;
strProductVersion += "-";
strProductVersion += DEFINED_VER_STATUS;
strProductVersion += "\0";*/
/**********************************************************************************************************************************************/
VS_VERSION_INFO VERSIONINFO
FILEVERSION    	DEFINED_VER_RC_FILEVERSION
PRODUCTVERSION 	DEFINED_VER_RC_FILEVERSION
FILEFLAGSMASK	VS_FFI_FILEFLAGSMASK
FILEFLAGS		(VER_PRIVATEBUILD|VER_PRERELEASE|VER_DEBUG)
FILEOS			VOS__WINDOWS32
FILETYPE		VFT_APP
FILESUBTYPE		VFT2_UNKNOWN
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904E4"
        BEGIN
            VALUE "CompanyName",		VER_COMPANYNAME_STR
            VALUE "FileDescription",	VER_FILEDESCRIPTION_STR
            VALUE "FileVersion",		DEFINED_VER_RC_FILEVERSION_STRING
            VALUE "InternalName",		VER_FILENAME_STR
            VALUE "LegalCopyright",		VER_LEGALCOPYRIGHT_STR
            VALUE "OriginalFilename",	VER_ORIGINALFILENAME_STR
            VALUE "ProductName",		VER_FILENAME_STR
            VALUE "ProductVersion",		DEFINED_VER_FULLVERSION_STRING
			VALUE "Comments", 			VER_COMMENTS_STR
#ifdef DEFINED_BUILD_MODE_PRIVATE
			VALUE "PrivateBuild",		"This is a private build by GamerMan7799, intended for debugging uses."
#endif
        END
    END

    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x409, 1252
    END
END
/**********************************************************************************************************************************************/
